
body {
	background-image: url(Imagenes/fondoLogin.png);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

.login {
	width: 400px;
	height: 250px;
	background: #4e4d4d;
	margin: auto;
	margin-top: 180px;
	box-shadow: 7px 13px 37px #000;
	padding: 20px 30px;
	color: #ffffff;
	border-style: outset;
}

.login h5 {
	margin: 0;
	text-align: center;
	height: 40px;
	margin-bottom: 30px;
	border-bottom: 1px solid;
	font-size: 20px;
	font-family: Comic Sans MS;
}

.TextBox {
	width: 95%;
	margin-bottom: 15px;
	padding: 11px 10px;
	background: #ffffff;
	font-size: 14px;
	font-weight: bold;
}

.button {
	background-color: #04AA6D;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}



